./pysinsy/pysinsy-0.0.5-cp38-cp38-linux_x86_64.whl
hydra-core<1.2
joblib>=1.2.0
nnmnkwii>=0.0.23
nnsvs== 0.0.3
numpy>=1.20
omegaconf
scipy
torch>=1.7.1
tqdm
utaupy>=1.18.0
pyyaml
scikit-learn<0.24.0
colored_traceback